html
{
    font-size: 1rem;
}

body
{
	margin: 0;
	padding: 0;
	font-family: 'helvetica', sans-serif;
    background: #598aa0;
}

a
{
    color: #000000;
}

.container
{
  margin: 0px 50px;
  padding: 30px;
  background-color: white;
}

.header
{
  margin: 50px 0px;
}

.title
{
  font-size: 2rem;
  display: block;
  margin-bottom: 20px;
}

.description
{
  font-size: 1.1rem;
}

.form
{
  margin: 50px 0px;
}

.form-description
{
  font-size: 1rem;
}

.divtextarea
{
  display: block;
  margin-bottom: 15px;
}

.textarea
{
  width: 100%;  
  box-sizing: border-box;
}

.divbutton
{
  display: block;
}

.btn
{
  background-color: white;
  border-radius: 7px;
  border: solid 2px #598aa0;
  padding: 8px 12px;
}

.result
{
  display: block;
}

.res-header
{
  font-size: 1.5rem;
  display: block;
  margin-bottom: 15px;
}

.item1
{
  display: inline-block;
  margin: 20px;
  width: 7rem;
  border: solid 2px #000000;
  border-radius: 10px;
}

.crop
{
  height: 2.3rem;
  width: 2.3rem;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  margin: 5px auto;
}

.item-name
{
  margin: 0px auto 3px auto;
  padding: 3px 0px;
  text-align: center;
  color: #ffffff;
  background-color: #598aa0;  
}

.item-value
{
  font-size: 0.8rem;
  margin: 0px auto;
  text-align: center;
}
